<section class="request">
	<div class="container">
		<div class="request__exit">
			
		</div>

		<aside class="request__aside">
			<div class="request__logo">
				{% include "assets/svg/logo.svg"%}
			</div>
			<section class="request__preview">
				<p>
					ODVA understood my brief, customer base and goals better than any other design agency. They explained their design process and kept me informed every step of the way. I love the way the entire process was managed and the final work delivered exceeded my expectations.
				</p>
				<picture>

				</picture>	
				<div class="request__autor">
					<h5>Jony Ive</h5>
					<p>British-American industrial, product and architectural designer</p>
				</div>
			</section>
		</aside>

		<div class="request__content">
			<section>
					<h1 class="request__titel">Have a project in mind?</h1>
					<p class="subtitle">Drop us a line, we would love to hear from you about your bright idea!</p>
			</section>
			<section>
				<h1 class="request__titel"></h1>
				<p class="subtitle"></p>
				<div></div>
			</section>
			<section>
				<h1 class="request__titel"></h1>
				<p class="subtitle"></p>
			</section>
			<section>
				<h1 class="request__titel"></h1>
				<p class="subtitle"></p>
			</section>	
		</div>
	</div>
</section>