<section class="request">
	<div class="container">
		<div class="request__container">
			<button class="request__exit">
				{% include "assets/svg/exit.svg"%}
			</button>
			<div class="request__content">
				<form action="">
					<section class="request__section">
						<h3 class="request__titel">Have a project in mind?</h3>
						<p class="request__subtitle">Drop us a line, we would love to hear from you about your bright <br>idea!</p>
						<div class="requset__user-wrap">
							<label class="request__user-label">
								<input type="text" class="request__input" onfocus="o2.request.inputFocus(this)" onblur="o2.request.inputBlur(this)">
								<span class="request__placeholder">What’s your name?</span>
							</label>
							<label class="request__user-label">
								<input type="text" class="request__input"  id="_request__telefon" onfocus="o2.request.inputFocus(this)" onblur="o2.request.inputBlur(this)">
								<span class="request__placeholder">What’s your phone number?</span>
							</label>
							<label class="request__user-label">
								<input type="text" class="request__input" onfocus="o2.request.inputFocus(this)" onblur="o2.request.inputBlur(this)">
								<span class="request__placeholder">What’s your company’s name?</span>
							</label>
							<label class="request__user-label">
								<input type="text" class="request__input" onfocus="o2.request.inputFocus(this)" onblur="o2.request.inputBlur(this)">
								<span class="request__placeholder">Does your company have a site?</span>
							</label>
						</div>
					</section>

					<section class="request__section">
						<h3 class="request__titel">Tell us about your project.</h3>
						<p class="request__subtitle">Give us your best point. Also, we don't take on other agencies <br>and studios as clients, sorry.</p>
						<textarea class="request__textarea" placeholder="Start typing..."></textarea>
						<div class="request__file-wrap">
							<span class="request__img-textarea">
								{% include "assets/svg/add-file.svg"%}
							</span>
							<label>
								<input type="file" class="request__file" id="file">
								<span class="request__file-text _request__file-text" onclick="o2.request.fileAdd(this)">Upload your brief</span>
							</label>
						</div>
					</section>	
					<section class="request__section">
						<h3 class="request__titel">What do you need help with?</h3>
						<p class="request__subtitle">Not sure what you’re after? <a href="#">Read more about our services.</a></p>
						<div class="request__checklist">
							<h5 class="request__checklist-title">Websites</h5>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Website Design</span>
							</label>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Website Development</span>
							</label>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Website Support</span>
							</label>
						</div>
						<div class="request__checklist">
							<h5 class="request__checklist-title">Products</h5>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Product Design</span>
							</label>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Product Development</span>
							</label>
							<label>
								<input type="checkbox" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text">Product Support</span>
							</label>
						</div>
					</section>
					<section class="request__section">
						<h3 class="request__titel">Do you have a budget in mind?</h3>
						<p class="request__subtitle">Based on your selection of services, we’ve recommended a budget <br>
						range below. Keep in mind that this is a guess, subject to time <br>and scope.</p>
						<div class="request__checklist request__radio-wrap">
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text">Less than $5k</span>
							</label>
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text">$5k to $8k</span>
							</label>
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text">$8k to $12k</span>
							</label>
						</div>
						<div class="request__checklist request__radio-wrap">
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text ">$12k to $20k</span>
							</label>
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text">More than $20k</span>
							</label>
							<label>
								<input type="radio" name="radio" class="request__input-checkbox">
								<span class="request__checked"></span>
								<span class="request__checked-text request__radio-text">Whatever it costs</span>
							</label>
						</div>
					</section>
					<div>
						<button class="request__btn-canel">Cancel</button>
						<button class="request__btn-submit">Submit</button>
					</div>
				</form>	
			</div>

			<aside class="request__aside">
				<div class="request__logo">
					{% include "assets/svg/logo.svg"%}
				</div>
				<section class="request__preview">
					<p>
						ODVA understood my brief, customer base and goals better than any other design agency. They explained their design process and kept me informed every step of the way. I love the way the entire process was managed and the final work delivered exceeded my expectations.
					</p>
					<div class="request__author">
						<picture class="request__author-img">
							<source srsset ="img/author.webp">
							<img src="img/author.png" alt="">
						</picture>	
						<div>
							<h5>Jony Ive</h5>
							<p>British-American industrial, product <br>and architectural designer</p>
						</div>
					</div>
				</section>
			</aside>
		</div>
	</div>
</section>